<!-- edit.ejs -->

<div class="container-fluid">
    <!--update-->
    <form action="/house/update/<%= house.id %>" method="POST">


        <div class="row">




            <div class="form_style card border-white col-12">
                <h1>Property Create form</h1>
            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>proper title:</label>
                <input type="text" class="form-control" name="House[title]" value="<%= house.title %>" required>
            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>Estate:</label>
                <select onchange="" name="House[name]">
                    <option value="City One Shatin">City One Shatin</option>
                    <option value="Festival City">Festival City</option>
                    <option value="Whampoa Garden">Whampoa Garden</option>
                    <option value="Siu Sai Wan">Siu Sai Wan</option>
                </select>
            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>Gross Area:</label>
                <input type="number" class="form-control" name="House[gross_area]" value="<%= house.gross_area %>"
                    min="0" max="9999" required>
            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>Rent:</label>
                <input type="number" class="form-control" name="House[rent]" value="<%= house.rent %>" min="0"
                    max="999999" required>
            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>Image URL:</label>
                <input type="text" class="form-control" name="House[URL]" value="<%= house.URL %>" required>

            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>Bedrooms:</label>
                <input type="number" class="form-control" name="House[bedrooms]" value="<%= house.bedrooms %>" min="0"
                    max="9" required>

            </div>

            <div class="form_style card border-white col-12 col-sm-12 col-lg-6 col-xl-6">
                <label>Expected Tenants:</label>
                <input type="number" class="form-control" name=House[tenants] value="<%= house.tenants %>" min="0"
                    max="9" required>
            </div>

            <div class="card border-white col-12 col-sm-12 col-lg-6 col-xl-6">

                <div class="form-check mb-3">

                    <input class="form-check-input" name="House[box]" type="checkbox" value=true
                    <% if(house.box){ %>
                    <%= "checked" %>
                    <% } %>
                    >

                   
                    <label class="form-check-label">Highlighted Property</label>               
                    
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>



        </div>

    </form>

    <br><br>
    <!-- delete -->
    <form action="/house/delete/<%= house.id %>" method="POST">

        <button type="submit" class="btn btn-danger">delete</button>

    </form>
</div>