<!--home.ejs-->
<div class="container">



    <div class="row">

        <% i = 0 %>
        <% houses.forEach( function(model) { %>


        <div class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            <a href="/house/view/<%= model.id %>"><%= model.title %></a>
            <div class="row">


                <div>
                    <img id="img1" src="<%= model.URL %>" />
                </div>
                <div>

                    <table class="home_table">

                        <tr>
                            <td class="home_td">Estate:<%= model.name %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Gross Area:<%= model.gross_area %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Rent: $<%= model.rent %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <% i++ %>
        <% }); %>




    </div>

</div>