<!--home.ejs-->
<div class="container">



    <div class="row">

        <% i = 0 %>
        <% houses.forEach( function(model) { %>


        <div class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            <a href="/house/view/<%= model.id %>"><%= model.title %></a>
            <div class="row">


                <div>
                    <img id="img1" src="<%= model.URL %>" />
                </div>
                <div>

                    <table class="home_table">

                        <tr>
                            <td class="home_td">Estate:<%= model.name %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Gross Area:<%= model.gross_area %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Rent: $<%= model.rent %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <% i++ %>
        <% }); %>
<!-- 
        <div id="div02" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            <a href="/house/view/<%= houses[1].id %>"><%= houses[1].title %></a>
            <div class="row">


                <div>
                    <img id="img1" src="<%= houses[1].URL %>" />
                </div>
                <div>

                    <table class="home_table">

                        <tr>
                            <td class="home_td">Estate:<%= houses[1].name %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Gross Area:<%= houses[1].gross_area %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Rent: $<%= houses[1].rent %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->

        <!-- <div id="div03" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            <a href="/house/view/<%= houses[2].id %>"><%= houses[2].title %></a>
            <div class="row">


                <div>
                    <img id="img1" src="<%= houses[2].URL %>" />
                </div>
                <div>

                    <table class="home_table">

                        <tr>
                            <td class="home_td">Estate:<%= houses[2].name %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Gross Area:<%= houses[2].gross_area %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Rent: $<%= houses[2].rent %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->

        <!-- <div id="div04" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            <a href="/house/view/<%= houses[3].id %>"><%= houses[3].title %></a>
            <div class="row">


                <div>
                    <img id="img1" src="<%= houses[3].URL %>" />
                </div>
                <div>

                    <table class="home_table">

                        <tr>
                            <td class="home_td">Estate:<%= houses[3].name %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Gross Area:<%= houses[3].gross_area %></td>
                        </tr>
                        <tr>
                            <td class="home_td">Rent: $<%= houses[3].rent %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div> -->







    </div>

</div>