<!--index.ejs-->
<table class="table">
    <% houses.forEach( function(model) { %>
    <tr>
        <td><%= model.name %></td>
        <td><%= model.rent %></td>
        <td><%= model.title %></td>
        <td><%= model.bedrooms %></td>
        <td><%= model.gross_area %></td>
    </tr>
    <% }); %>
</table>

<form action="/house/search1" method="POST">

  

    <div id="div01" class="card border-white col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>name:</label>
        <input type="text" class="form-control" name="House[name]" value="">
    </div>

    <div id="div02" class="card border-white col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>rent1:</label>
        <input type="number" class="form-control" name="House[rent1]" value="">

       
    </div>
    <div id="div01" class="card border-white col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>rent2:</label>
        <input type="number" class="form-control" name="House[rent2]" value="">
    </div>

    <div id="div01" class="card border-white col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Area1:</label>
        <input type="number" class="form-control" name="House[gross_area1]" value="">

    </div>
    <div id="div01" class="card border-white col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Area2:</label>
        <input type="number" class="form-control" name="House[gross_area2]" value="">
    </div>


    <div id="div02" class="card border-white col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>bedrooms:</label>
        <input type="number" class="form-control" name="House[bedrooms]" value="">
    </div>


    <button type="submit" class="btn btn-danger">Search</button>

</form>