<!--search.ejs-->

<div class="row">
        <% houses.forEach( function(model) { %>
    
    
    
        <div class="card col-12 col-sm-6 col-lg-4 col-xl-4">
    
            <div>
                <img id="img2" src="<%= model.URL %>" />
            </div>
    
            <div>
                <a href="/house/view/<%= model.id %>"><%= model.title %></a>
                <table class="home_table">
    
                    <tr>
                        <td class="search_td">Estate:<%= model.name %></td>
                    </tr>
                    <tr>
                        <td class="search_td">Gross Area:<%= model.gross_area %> sq feet</td>
                    </tr>
                    <tr>
                        <td class="search_td">Rent: $<%= model.rent %></td>
                    </tr>
                </table>
    
            </div>
    
    
    
        </div>
    
        <% }); %>
    
        <div class="card col-12 col-sm-6 col-lg-4 col-xl-4">
            <div style="padding: 20px;">
                <% const current = parseInt(req.query.page) || 1; %>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="/house/index/?page=<%= Math.max(current-1, 1) %>">Previous</a>
                        </li>
    
                        <% for (i = 1; i <= count; i++) { %>
                        <li class="page-item">
                            <a class="page-link" href="/house/index/?page=<%= i %>"><%= i %></a>
                        </li>
                        <% } %>
    
                        <li class="page-item">
                            <a class="page-link" href="/house/index/?page=<%= Math.min(current+1, count) %>">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
    
            <h1>Property Search</h1>
    
            <form action="/house/search" method="POST">
    
    
    
                <div class="row" style="padding: 10px;">
                    <div>
                        <label>Estate:</label>
                    </div>
                    <div style="padding: 10px;">
                        <select name="House[name]">
                                <option value="">Select estate here:</option>
                            <option value="City One Shatin">City One Shatin</option>
                            <option value="City Two Shatin">City Two Shatin</option>
                            <option value="City Three Shatin">City Three Shatin</option>
                        </select>
                    </div>
                </div>
    
                <div class="row" style="padding: 10px;">
                    <div>
                        <label>bedrooms:</label>
                    </div>
                    <div>
                        <input type="number" style="width: 200px;" class="form-control" name="House[bedrooms]" min="1" max="9">
                    </div>
                </div>
    
                <label>Area (Sq feet):</label>
    
                <div class="row" style="padding: 10px;">
                    <label>Min:</label>
                    <input style="width: 100px;" min="0" max="999999" type="number" class="form-control" name="House[rent1]" value="0">    
                    <label>Max:</label>
                    <input style="width: 100px;" min="0" max="999999" type="number" class="form-control" name="House[rent2]" value="999999">
                </div>
    
                <label>Rent(HK$):</label>
    
                <div class="row" style="padding: 10px;">
                    <label>Min:</label>
                    <input style="width: 100px;" min="0" max="9999" type="number" class="form-control" name="House[gross_area1]" value="0">
                    <label>Max:</label>
                    <input style="width: 100px;" min="0" max="9999" type="number" class="form-control" name="House[gross_area2]" value="9999">
                </div>
    
    
    
    
    
                <button type="submit" class="btn btn-danger">Search</button>
    
            </form>
        </div>
    </div>