<!--view.ejs-->
<div class="container">

    <div class="card">
        <h1><%= house.title %></h1>

        <div class="row">


            <div>
                <img id="view_img" src="<%= house.URL %>" />
            </div>
            <div>

                <table class="view_table">

                    <tr>
                        <td class="view_td">Estate:<%= house.name %></td>
                    </tr>
                    <tr>
                        <td class="view_td">Gross Area:<%= house.gross_area %></td>
                    </tr>
                    <tr>
                        <td class="view_td">Rent: $<%= house.rent %></td>
                    </tr>
                    <tr>
                        <td class="view_td">Bedrooms: <%= house.bedrooms %></td>
                    </tr>
                    <tr>
                        <td class="view_td">Expected Tenants: <%= house.tenants %></td>
                    </tr>
                    <% var createDate = new Date(house.createdAt); %>
                    <tr>
                        <td class="view_td">
                            createdAt:<%= createDate.getFullYear()%>/<%= createDate.getMonth()%>/<%= createDate.getDate()%>
                        </td>
                    </tr>
                    <% var updateDate = new Date(house.updatedAt); %>
                    <tr>
                        <td class="view_td">Updated: <%= updateDate.getFullYear()%>/<%= updateDate.getMonth()%>/<%= updateDate.getDate()%></td>
                    </tr>


                </table>
            </div>
        </div>
    </div>



</div>